:root {
    --drawMouse: none;
}

* {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("Assets/sprites/misc/End_Poem_background.webp");

    background-repeat: no-repeat;
    background-size: cover;

    cursor: var(--drawMouse);

    flex-direction: column;
}

.title {
    padding: 2px;
    color: white;
    font-family: "Pixel";
    font-size: 1.5rem;
    margin-top: 0;

    position: absolute;
    top: 0;
}

.help-container {
    position: absolute;

    right: 0;

    background-color: rgba(0, 0, 0, 0.202);

    display: flex;

    flex-direction: column;
    justify-content: end;
    align-items: start;

    padding-left: 5px;

    width: 150px;
    height: 100%;
}

.help-text {
    font-family: "Pixel";
    font-size: 0.9rem;
    color: white;
    text-align: left;
}

#canvas {
    image-rendering: crisp-edges; /* Firefox */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: pixelated; /* Chrome and modern browsers */
    image-rendering: -o-crisp-edges; /* Older Opera browsers */
    image-rendering: optimizeSpeed; /* Optional fallback for older browsers */

    box-shadow: 0 0 20px black;

    border-radius: 5px;
}

@font-face {
    font-family: "Pixel";
    src: url("Assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf");
}
