body {
    background-image: url("Assets/sprites/misc/End_Poem_background.webp");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    width: 100%;
    height: 80%;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vh;
    width: 30%;
}

.btn {
    width: 100%;
    height: 5vh;
    background-position: center;
    background-image: url("Assets/sprites/misc/menu_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0.2vh 0.2vh rgba(0, 0, 0, 0.395);
    font-family: "Pixel";
    text-decoration: none;
    font-size: 1.5rem;
}

.btn:hover {
    background-image: url("Assets/sprites/misc/menu_button_hover.png");
}

.logo-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.logo-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 2vh;
}

.logo {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.random-text {
    position: absolute;

    display: flex;

    justify-content: center;

    text-align: center;
    width: 100px;
    text-wrap: nowrap;
    font-family: "Pixel";
    color: yellow;
    text-shadow: 0.2vh 0.2vh rgba(0, 0, 0, 0.395);
    animation: randomText 2s infinite ease-in-out;
    font-size: 2.5rem;
}

.splash {
    text-align: center;
}

@keyframes randomText {
    0% {
        transform: scale(1) rotate(-10deg);
    }
    50% {
        transform: scale(1.1) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(-10deg);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    font-family: "Pixel";
    color: rgba(255, 255, 255, 0.378);
    text-shadow: 0.2vh 0.2vh rgba(0, 0, 0, 0.395);
}

@font-face {
    font-family: "Pixel";
    src: url("Assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf");
}
